.nav-bar {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.back-btn,
.btn {
  width: 50px;
  height: 20px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 10%;
  margin-right: 3%;
  margin-left: 3%;
}

.clock {
  width: 100%;
  text-align: center;
  color: #fff;
}
