.nav-bar {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.back-btn {
  width: 50px;
  height: 20px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 10%;
  margin-right: 5%;
}
