li {
  list-style: none;
  margin: 1%;
}
ul {
  padding: 0;
}

.memo_form {
  display: flex;
  justify-content: center;
}

#memo_content_input {
  width: 100%;
  height: 30px;
  border-radius: 5%;
}

.memoList {
  background-color: #fff;
  text-align: center;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.selected {
  border: solid red;
  -webkit-line-clamp: inherit;
}
