<div class="alram_wrap none">
  <form id="alram-form" onsubmit="return false;">
    <label for="alarm"></label>
    <input type="time" step="600" class="alram-input" />
    <input type="button" class="alram-create-btn" value="Submit" />
  </form>
</div>

<div class="alram_list_wrap">
  <ul class="alram_list"></ul>
</div>