<div class="picture_body_wrap">
  <div class="picture_wrap">
    <img
      class="picture"
      src="https://pbs.twimg.com/media/E2jWScKVcAIegey?format=jpg&name=900x900"
    />
    <img
      class="picture"
      src="https://i.pinimg.com/originals/92/f7/e8/92f7e84ce7c4e3d255da60f03469cc8d.jpg"
    />
    <img
      class="picture"
      src="https://pbs.twimg.com/media/E2jWSDbVkAMcPSj?format=jpg&name=large"
    />
    <img
      class="picture"
      src="https://pbs.twimg.com/media/E2jWSodVoAAg3uq?format=jpg&name=large"
    />
    <img
      class="picture"
      src="https://pbs.twimg.com/media/E2jWSQ0VcAECPGT?format=jpg&name=medium"
    />
    <img
      class="picture"
      src="https://mblogthumb-phinf.pstatic.net/MjAyMTAzMTJfMTQy/MDAxNjE1NTA4NDczNTQ0.m7QVPubqhkc3sQpBfNnWPCNA0yr10ZzCrpFbhjK9fGUg.7rsNj-u8LK-fsMQbS2BvrwsrSP1tkSsKurlhyEQMfjkg.JPEG.espart1226/c22df1bd73f486e0c25fc98de7c88422.jpg?type=w800"
    />
    <img
      class="picture"
      src="https://mblogthumb-phinf.pstatic.net/MjAyMTAzMTJfNTQg/MDAxNjE1NTA4NDcxNTI1.M0jdnAE4n6UU8lnsZao8hrx0ZRgyYHvdfF7Lc8Xt8DEg.HS4NLEDqk9JlJZQMYpByyJO9dth5ViT47Ofgc7G__DIg.JPEG.espart1226/3f6f21612fd0b85f35db01dbd1d069a6.jpg?type=w800"
    />
    <img
      class="picture"
      src="https://mblogthumb-phinf.pstatic.net/MjAyMTAzMTJfMjA5/MDAxNjE1NTA4NDk3MzI5.8_rHoyZNGcvL3Q_cCxWuW9Hu2Ie-PB0xHBl-yh-sAscg.dwD0ZwyZbB0CqyZRy9eUcLukyRX2WX4pS9q9JbQ1ECsg.JPEG.espart1226/2cc5f99b399680215e2feeea0ca93224.jpg?type=w800"
    />
    <img
      class="picture"
      src="https://mblogthumb-phinf.pstatic.net/MjAyMTAzMTJfMjAw/MDAxNjE1NTA4NTAyNDI4.uJmwTVj1O21fK81fHLYLz_QyeCzCXRgIp3fsQwZSVPsg.LcX3H9VktKC0oRx6MNTxJxeie2Oe5eEqmBMPAyvPDlgg.JPEG.espart1226/d59eb74c01dac70ed411f11bea9fe945.jpg?type=w800"
    />
    <img
      class="picture"
      src="https://mblogthumb-phinf.pstatic.net/MjAyMTAzMTJfMTcy/MDAxNjE1NTA4NDE5NDg2.W7aI2Ab9pY4XgIz183HQ_KKiJqWJDSvHNMYx3JbYfoIg.QY1ZdTzpSoChrHi9SPGvfemRWFv3dvv7uh29jl1suAog.JPEG.espart1226/EkGg-ViXsAIOc7n.jpeg?type=w800"
    />
  </div>
  <div class="selected-picture">

  </div>
</div>